/* Base da barra de navegacao */
.barra-navegacao__mobile {
    display: flex;
    flex-direction: column;
}

.barra-navegacao__bloco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--barra-de-navegacao-fundo);
}

/* Boatao verde Home do menu hamburguer */

.link-destaque {
    color: var(--fonte-verde);
    font-weight: var(--fonte-grande);
}

.menu-hamburguer-icone {
    text-align: center;
    margin: 0 auto;
}

.menu-hamburguer-imagem {
    width: 30px;
    height: 30px;
}

/* ================== BARRA DE PESQUISA ================= */

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

.barra-pesquisa__input-pesquisar {
    border: 1.5px solid black;
    width: 80%;
    padding: 0.5rem;
}

.barra-pesquisa__input-buscar {
    background: none;
    border: 1.5px solid black;
    width: 30%;
    padding: 0.6rem;
}

.barra-pesquisa__input-buscar:hover {
    background-color: black;
    color: white;
}

.barra-pesquisa__input-pesquisar::placeholder {
    color: var(--fonte-cinza-claro);
    font-size: var(--fonte-textos);
}

.barra-pesquisa__input-buscar::placeholder {
    color: var(--fonte-cinza-claro);
    font-size: 1rem;
}
