.categorais {
    padding: 0 2rem;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;

    font-size: var(--fonte-titulos);
}

.categorias__caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.caixa {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 140px;
}

.caixa__fudno {
    background-color: var(--barra-de-navegacao-fundo);
}

.caixa__titulo {
    color: var(--fonte-branca);
    text-align: center;
    padding: 0.5rem 1rem;
}

/* TABLET */

@media screen and (min-width: 768px) {

    .categorias__caixa {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;
    }

    .caixa {
        height: 270px;
        width: 220px;
    }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
    .categorias__titulo {
        padding: 5rem;
        font-size: 2rem;
    }

    

    .caixa {
        height: 250px;
        width: 185px;
    }

    .categorias__caixa {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}