.facilidades {
    background: var(--barra-de-navegacao-fundo);
    color: var(--fonte-branca);
    padding: 1.5rem 0;
}

.facilidades__conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.facilidades__subcaixa {
    width: 50%;
}

.facilidades__titulo {
    color: var(--fonte-verde);
    font-weight: var(--fonte-grande);
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.facilidades__texto {
    font-size: var(--fonte-textos);
    color: var(--fonte-cinza-claro);
}

@media screen and (min-width: 768px) {
    .facilidades__conteudo {
        padding: 1rem 12rem;
    }
}

@media screen and (min-width: 1440px) {

    .facilidades {
        padding: 2.5rem;
    }

    .facilidades__caixa {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0;
    }

    .facilidades__conteudo {
        padding: 0;
        width: 18.125rem;
    }
}