.produtos {
    padding: 0 2rem;
}

.produtos__banner {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(161, 161, 161, 0.527);
    text-decoration: none;
    color: var(--fonte-preta);
    overflow: hidden;
}

.produtos__banner img {
    transition: 3s all;
}

.produtos__banner img:hover {
    transform: scale3d(1.1,1.1,1.1);
	transition: transform 3s ease-in-out;
}

.produtos__conteudo {
    padding: 1rem;
    padding-bottom: 2rem;
}

.produtos__titulo {
    font-weight: var(--fonte-grande);
    padding: 1rem 0;
}

.produtos__grid {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.produtos__texto {
    font-size: var(--fonte-textos);
    padding-bottom: 1rem;
    line-height: 1.25rem;
}

.produtos__preco {
    font-weight: var(--fonte-grande);
    padding-bottom: 1.5rem;
}

.produto__link {
    text-decoration: none;
    text-align: center;
    color: var(--fonte-branca);
    width: 35%;
    text-align: center;
    background-color: var(--fundo-botao-roxo);
    padding: 10px 12px;
    border: none;
}

@media screen and (min-width: 768px) {
    .produtos__grid {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        gap: 1rem;
    }

    .produtos__banner {
        margin: 0;
        width: 340px;
        height: 590px;
    }

    .produtos__banner img {
        height: 390px;
        object-fit: cover;
    }

    .produtos__titulo {
        font-weight: var(--fonte-grande);
        padding-bottom: 1rem;
    }
} 

@media screen and (min-width: 1440px) {

    .produtos__titulo {
        padding: 2.5rem 0;
        font-size: 2rem;
    }

    .produtos__grid {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .produtos__banner img {
        height: 450px;
        object-fit: cover;
    }

    .produtos__banner {
        width: 400px;
        height: 725px;
    }

    .produtos__conteudo {
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 2400px) {
    .produtos__titulo {
        padding: 1.5rem 0;
    }

    .produtos__banner {
        width: 400px;
        height: 690px;
    }
}